<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnServ | Thanks for visiting</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/thanks.css">
</head>
<body>
	
    
    <div class="ctnr">

        <header class="site-header" id="header">
            <h1 class="site-header__title" data-lead-id="site-header-title">Subscribed</h1>
        </header>
        <div class="tick">
            <i class="material-icons">done</i>
        </div>
	<div class="main-content">
		<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
		<p class="main-content__body" data-lead-id="main-content-body">Thank you for subscribing to our newsletter! 🎉 Stay tuned for the latest updates, exciting news, and valuable insights delivered right to your inbox. We appreciate your support!</p>
	</div>
    
	
</div>
</body>
</html>